body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
}

.container{
    border: 2px solid black;
    width: fit-content;
    padding: 0px 30px 30px;
    border-radius: 10px;
}

p{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

input{
    width: 90%;
    margin-bottom: 20px;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 10px;
}

.accept{
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

.decline{
    float:inline-end;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}